$primary-color : rgb(101, 45, 192);
$border-elem : 1px $primary-color solid;
$padding-all : 10px ;
$font : Arial;

p,h1{
    color:$primary-color;
    border : $border-elem;
    padding :$padding-all;
    font-family: $font;
}